* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

header {
  background-image: url(../../images/yellow_top_wave_01.png);
  height: 200px;
  background-size: cover;
}

header .navbar-brand {
  padding: 0;
  margin: 0;
  height: 80px;
}

header #navbarOurTeach .nav-link {
  padding-right: 40px;
  font-size: 13px;
  font-weight: 600;
  color: black;
}

header .header__phone .btnPhone {
  height: 45px;
  width: 187.23px;
  font-size: 13.5px;
  font-weight: 600;
  color: white;
  background-color: #b61984;
  border: 1px;
  border-radius: 50px;
}

header .header__phone:hover {
  background-color: #b61984;
  border: 1px;
  border-radius: 50px;
}

header .nav-link-a {
  padding: 5px;
  color: black;
}

.section__about .about__content .section__aboutContent {
  margin: 100px 0;
}

.section__about .about__content .section__aboutContent p {
  font-size: 1.1rem;
  font-weight: 600;
  color: #b61984;
}

.section__about .about__content .section__aboutContent h1 {
  font-size: 57px;
  font-weight: 700;
  color: black;
}

.section__about .about__content .section__aboutImage {
  position: absolute;
  left: 50%;
  top: 10%;
}

.section__carousel {
  width: 100%;
  background-image: url(../../images/Violet_top_left_wave.png);
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.section__carousel .carousel__listItem .carousel__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section__carousel .carousel__listItem .carousel__list .carousel__item {
  background-color: white;
  margin: 20px 20px;
  border-radius: 10px;
  overflow: hidden;
}

.section__carousel .carousel__listItem .carousel__list .carousel__item .carousel__image img {
  width: 100%;
}

.section__carousel .carousel__listItem .carousel__list .carousel__item .carousel__image img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.section__carousel .carousel__listItem .carousel__list .carousel__item .carousel__content p:first-child {
  font-size: 13.5px;
  font-weight: 57px;
  color: #b61984;
  text-align: center;
  margin-top: 20px;
}

.section__carousel .carousel__listItem .carousel__list .carousel__item .carousel__content h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
  text-align: center;
  margin-bottom: 20px;
}

.section__carousel .carousel__listItem .carousel__list .carousel__item .carousel__content p:last-child {
  font-size: 13.5px;
  font-weight: 57px;
  color: black;
  text-align: center;
}

.section__carousel .carousel__listItem .carousel__list .carousel__item:hover {
  -webkit-box-shadow: 0 30px 20px rgba(33, 33, 33, 0.2);
          box-shadow: 0 30px 20px rgba(33, 33, 33, 0.2);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.section__carousel .carousel__listItem .carousel__bottomImage {
  position: absolute;
  top: 20%;
  height: 100px;
}

footer {
  background-image: url(../../images/footer_background.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
}

footer .footer__content {
  padding-top: 120px;
}

footer .footer__content .footer__contact h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}

footer .footer__content .footer__contact .footer__list {
  margin-top: 30px;
}

footer .footer__content .footer__contact .footer__list p {
  font-size: 13.5px;
  font-weight: 23.25px;
  color: white;
  margin-bottom: 10px;
}

footer .footer__content .footer__contact .footer__list p span {
  padding-left: 10px;
}

footer .footer__content .footer__contact .footer__list p a {
  text-decoration: none;
}

footer .footer__content .footer__contact .footer__list p a i {
  color: white;
  padding: 0 5px;
}

footer .footer__content .footer__contact .footer__list p a i:hover {
  color: black;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

footer .footer__content .footer__links h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}

footer .footer__content .footer__links .footer__list {
  margin-top: 30px;
}

footer .footer__content .footer__links .footer__list a {
  text-decoration: none;
  color: white;
  font-size: 13.5px;
  font-weight: 23.25px;
  color: white;
}

footer .footer__content .footer__about h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}

footer .footer__content .footer__about .footer__list {
  margin-top: 30px;
}

footer .footer__content .footer__about .footer__list a {
  text-decoration: none;
  color: white;
  font-size: 13.5px;
  font-weight: 23.25px;
  color: white;
}

footer .footer__content .footer__newsletter h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}

footer .footer__content .footer__newsletter .footer__form {
  margin-top: 30px;
}

footer .footer__content .footer__newsletter .footer__form input {
  background-color: #b61984;
  font-size: 13.5px;
  font-weight: 23.25px;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.425);
  height: 45px;
  border-radius: 50px;
  text-align: center;
}

footer .footer__content .footer__newsletter .footer__form button {
  background-color: #b61984;
  border: 0;
  border-radius: 50px;
  color: #b61984;
  height: 45px;
  width: 260px;
  margin-top: 10px;
}

.section__contact {
  margin-top: 150px;
  background-image: url(../../images/accent_bottom_wave_01.png);
  background-position: center;
  background-size: cover;
}

.section__contact .section__contactContent .contactForm .formContact {
  width: 400px;
  margin-left: 100px;
}

.section__contact .section__contactContent .contactForm .formContact h1 {
  font-size: 2.4rem;
  font-weight: 700;
  color: black;
  margin: 20px 0 40px 0;
  text-align: center;
}

.section__contact .section__contactContent .contactForm .formContact .row .formUser i {
  position: absolute;
  top: 30%;
  left: 15%;
  color: #b61984;
}

.section__contact .section__contactContent .contactForm .formContact .row .formUser input {
  position: relative;
  padding-left: 40px;
  border-radius: 50px;
  height: 45px;
  font-size: 0.8em;
  font-weight: 400;
  color: black;
}

.section__contact .section__contactContent .contactForm .formContact .row .formEmail i {
  position: absolute;
  top: 30%;
  left: 15%;
  color: #b61984;
}

.section__contact .section__contactContent .contactForm .formContact .row .formEmail input {
  position: relative;
  padding-left: 40px;
  border-radius: 50px;
  height: 45px;
  font-size: 0.8em;
  font-weight: 400;
  color: black;
}

.section__contact .section__contactContent .contactForm .formContact .formCourse {
  position: relative;
  margin-top: 20px;
}

.section__contact .section__contactContent .contactForm .formContact .formCourse i {
  position: absolute;
  top: 30%;
  left: 3%;
  color: #b61984;
}

.section__contact .section__contactContent .contactForm .formContact .formCourse select {
  padding-left: 40px;
  border-radius: 50px;
  height: 45px;
  font-size: 0.8em;
  font-weight: 400;
  color: black;
}

.section__contact .section__contactContent .contactForm .formContact .formMessage {
  position: relative;
}

.section__contact .section__contactContent .contactForm .formContact .formMessage i {
  position: absolute;
  top: 10%;
  left: 3%;
  color: #b61984;
}

.section__contact .section__contactContent .contactForm .formContact .formMessage textarea {
  padding-left: 40px;
  border-radius: 25px;
  font-size: 0.8em;
  font-weight: 400;
  color: black;
}

.section__contact .section__contactContent .contactForm .formContact button {
  background-color: #b61984;
  border: 0;
  border-radius: 50px;
  font-size: 0.8em;
  font-weight: 700;
  color: white;
  height: 45px;
  width: 150px;
  margin: 30px 0;
}

.section__contact .section__contactContent .contactForm .formContact button:hover {
  background-color: #b61984;
  border: 0;
  border-radius: 50px;
}
/*# sourceMappingURL=main.css.map */