@mixin styleText($fs, $fw, $color) {
    font-size: $fs;
    font-weight: $fw;
    color: $color;
}
@mixin buttonStyle($bg, $bd, $bdr) {
    background-color: $color-purple;
    border: $bd;
    border-radius: $bdr;
}