//color
$color-purple: #b61984;
$color-black: black;
$color-white: white;
//font-size
$fs-1: 13px;
$fs-2: 13.5px;
$fs-3: 1.1rem;
$fs-4: 57px;
$fs-5: 11.25px;
$fs-6: 23.25px;
$fs-7: 15px;
$fs-8: 37.5px;
$fs-9: .8em;
$fs-10: 1.5rem;
$fs-11: 2.4rem;

//border-radius
$bdr-1: 50px;
//height
$h-1: 45px;

//width
$w-1: 187.23px;

//font-weight
$fw-3: 300;
$fw-4: 400;
$fw-6: 600;
$fw-7: 700;
//padding
$pd-0: 5px;
$pd-1: 10px;
$pd-2: 20px;
$pd-3: 30px;
$pd-4: 40px;
$pd-5: 50px;
//margin

//border
$bd-1: 1px;
$bd-2: 2px;

