header {
  background-image: url(../../images/yellow_top_wave_01.png);
  height: 200px;
  background-size: cover;
  .navbar-brand {
    padding: 0;
    margin: 0;
    height: 80px;
  }
  #navbarOurTeach {
    .nav-link {
      padding-right: $pd-4;
      @include styleText($fs-1, $fw-6, $color-black);
    }
  }
  .header__phone {
    .btnPhone {      
      height: 45px;
      width: 187.23px;
      @include styleText($fs-2, $fw-6, $color-white);
      @include buttonStyle($color-purple, $bd-1, $bdr-1);
    }
    &:hover{
      @include buttonStyle($color-white, $bd-1, $bdr-1);
    }
  }
  .nav-link-a {
    padding: $pd-0;
    color: $color-black;
  }
}
